*{
    margin: 0px;
}
body{
    font-family:'Open Sans',sans-serif;
}
/* header here  */
header{
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 150px;
}
.h-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 0px 0px;
}
.h-info{
    align-items: center;
    padding-right: 50px;
    padding-left: 240px;
}
.h-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}
.h-des{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.h-btn{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.h-img{
    width: 550px;
    height: 700px;
}
/* section flower here  */
.s-flower{
    margin-bottom: 120px;
}
.flower-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.flower-des{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.flower-cont{
    display: flex;
    justify-content:space-around;
    padding-left: 240px;
    padding-right: 240px;
}
.flower-block-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 115px 65px 0px 65px;
}
.flower-block-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 45px 50px 45px;
}
.flower-block-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 70px 75px 0px 75px;
}
.flower-1{
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.flower-info-cont{
    display: flex;
    justify-content: space-around;
    padding: 32px 240px 0px 240px;
}
.flower-info{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* section optional here  */
.opt-cont{
    display: flex;
    justify-content: space-around;
    margin: 128px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    align-items: center;
}
.opt-block{
    display: block;
    text-align: center;
    object-position: center;
}
.opt-img{
    padding-bottom: 32px;
}
.opt-info{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
}
/* section sale here  */
.s-sale{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    margin-bottom: 120px;
}
.sale-cont{
    display: flex;
    justify-content: space-around;
    padding: 0px 370px;
    align-items: center;
}
.sale-info {
    align-items: center;
    justify-content: center;
    padding-top: 230px;
}
.sale-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.sale-span{
    color: #E55473;
}
.sale-des{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
    width: 594px;
}
.sale-btn{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin: 32px;
    text-align: center;
    margin: auto;
    margin-top: 32px;
}
.sale-img-cont{
    padding: 100px 0px 0px 200px;
}
/* section instagram here  */
.insta-img-cont{
    display: flex;
    justify-content: space-around;
    margin: 48px 230px 128px 230px;
}
/* section type of flowers  */
.type-img-cont{
    background-image: url('Flower Asset/photo-background-1.avif');
    background-color: rgba(0, 255, 255, 0.171);
    height: 500px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0px 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.type-img-block{
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    object-position: center;
}
.type-img-des{
    color: #3d0af5;
    font-size:30px;
    font-weight: 600;
    padding-top: 24px;
}
.type-arw{
    color: #ac2cac;
    font-size: 40px;
    font-weight: 800px;
}
/* section deals here  */
.deals-cont{
    background-image: url('Flower Asset/deals.png');
    background-repeat: no-repeat;
    margin: 128px 240px;
    border-radius: 8px;
    width: 1440px;
    height: 449px;
}
.deals-cont >h1{
    padding-top: 120px;
}
.deals-cont >p{
    margin-bottom: 45px;
}
.email-form{
    text-align: center;
}
.email-inp{
    width: 700px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background: #FFF;
}
.email-btn{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left:16px;

}
/* footer here  */
.ft-cont{
    background: #111010;
    height: 449px;
    text-align: center;
}
.ft-title{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    padding-top: 128px;
    padding-bottom: 24px;
}
.ft-title > span{
    color: #E55473;
}
.ft-des{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px 648px;
}
.ft-info{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}